<div class="guide--wrapper">
    <div class="guide--content show-section" id="sub-section-1">
        <div class="slide-number">1/1</div>
        <h4>InMemoryRepository</h4>
        <p>
            Sparc.Kernel has a built-in <a target="_blank" href="https://github.com/sparc-coop/blossom/blob/main/Sparc.Kernel/Data/InMemoryRepository.cs">InMemoryRepository</a>, 
            no need to worry about data infrastructure until you really 
            need it, one more way to fasten your development and tests if you want to. By adding Sparc.Kernel to your 
            Features project you already have an InMemory layer available, you just need to inject the IRepository to your 
            Feature like the <a target="_blank" href="https://github.com/sparc-coop/blossom/blob/feature/blossom-docs/templates/NET7/TemplateWebNET7/TemplateWebNET7.Features/WeatherForecast/GetWeatherForecast.cs">example found on Blossom's template</a>
        </p>
    </div>
</div>