<div class="guide--wrapper">
    <div class="guide--content show-section" id="sub-section-1">
        <div class="slide-number">1/1</div>
        <h4>Examples / Templates</h4>
        <p>
            Sparc.Kernel is the architecture for all of Sparc Cooperative's ongoing projects, including:
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/sparc-coop/law-of-100">Law of 100</a> 
                    (Features, Platforms.Web, Authentication.AzureADB2C, Database.Cosmos, Notifications.Azure)
                </li>
                <li>
                    <a target="_blank" href="https://github.com/sparc-coop/kodekit">Kodekit</a>
                     (Features, Platforms.Web, Authentication.AzureADB2C, Database.Cosmos)
                </li>
                <li>
                    <a target="_blank" href="https://github.com/sparc-coop/ibis">Ibis</a>
                    (Features, Platforms.Web, Authentication.AzureADB2C, Notifications.Twilio, Storage.Azure, Database.Cosmos)
                </li>
            </ul>
        </p>
    </div>
</div>