<div class="shapes">
    <div class="stack-1" id="stack-1">
        <Circle Id="stack-1-0" />
        <Diamond Id="stack-1-1" />
        <Square Id="stack-1-2" />
        <Diamond Id="stack-1-3" />
        <Circle Id="stack-1-4" />
        <Diamond Id="stack-1-5" />
        <Square Id="stack-1-6" />
        <Diamond Id="stack-1-7" />
        <Circle Id="stack-1-8" />
        <Diamond Id="stack-1-9" />
    </div>

    <div class="stack-2" id="stack-2">
        <Square Id="stack-2-0" />
        <TriangleUp Id="stack-2-1" />
        <Circle Id="stack-2-2" />
        <TriangleUp Id="stack-2-3" />
        <Square Id="stack-2-4" />
        <TriangleUp Id="stack-2-5" />
        <Circle Id="stack-2-6" />
        <TriangleUp Id="stack-2-7" />
        <Square Id="stack-2-8" />
        <TriangleUp Id="stack-2-9" />
    </div>

    <div class="stack-3" id="stack-3">
        <TriangleDown Id="stack-3-0" />
        <Circle Id="stack-3-1" />
        <TriangleDown Id="stack-3-2" />
        <Circle Id="stack-3-3" />
        <TriangleDown Id="stack-3-4" />
        <Circle Id="stack-3-5" />
        <TriangleDown Id="stack-3-6" />
        <Circle Id="stack-3-7" />
        <TriangleDown Id="stack-3-8" />
        <Circle Id="stack-3-9" />
    </div>

    <div class="stack-4" id="stack-4">
        <Circle Id="stack-4-0" />
        <Diamond Id="stack-4-1" />
        <Square Id="stack-4-2" />
        <Diamond Id="stack-4-3" />
        <Circle Id="stack-4-4" />
        <Diamond Id="stack-4-5" />
        <Square Id="stack-4-6" />
        <Diamond Id="stack-4-7" />
        <Circle Id="stack-4-8" />
        <Diamond Id="stack-4-9" />
    </div>
</div>

<div class="game-container" id="game-container">
</div>

<style>
    .shapes {
        display: none;
    }

    #game-container {
        width: 1056px;
        height: 430px;
        border: none;
    }

        #game-container:hover {
            cursor: pointer;
        }
</style>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createGame");
        }
    }
}