.shapes, .shapes--tablet, .shapes--mobile {
    display: none;
}

#game-container {
    width: 1056px;
    height: 430px;
    border: none;
    overflow: hidden;

    @media screen and (max-width: 1098px) {
        width: 600px;
    }

    @media screen and (max-width: 600px) {
        width: 340px;
    }
}

#game-container:hover {
    cursor: pointer;
}
