//colors

$background: #020201;
$black: #000000;
$white: #FFFFFF;

$grey-900: #140903;
$grey-800: #433A35;
$grey-700: #726B68;
$grey-600: #726B68;
$grey-400: #A19D9A;
$grey-200: #D0CECD;
$grey-100: #F6F4F3;

$blue-500: #1221DA;
$blue-300: #4D80FF;
$blue-100: #3BD7FF;

$orange-500: #DF4A0E;
$orange-300: #F67F2E;
$orange-200: #FFBD22;
$orange-100: #FAD530;

$violet-500: #7F23D5;
$violet-300: #E245A9;
$violet-200: #D561D8;
$violet-100: #F46BF1;