//Global
@import "App.Variables";
@import "App.Typography";

//Shared
@import "Shared/MainLayout";
@import "Shared/NavMenu";
@import "Shared/Footer";

//Pages
@import "Pages/Index";
@import "Pages/Guide";
@import "Pages/BlogList";
@import "Pages/Blog";

@import "Components/Game";

.kori-content {
    padding: 0;
    margin: 0;
}

.kori-initializing {
    visibility: visible;
    opacity: 0.3;
}

.kori-loggedin {
    .kori__btn:hover {
        background: var(--orange-500) !important;
    }

    .kori__btn-text:hover {
        color: var(--orange-500) !important;
    }

    .kori__btn-primary:hover {
        background: var(--orange-200) !important;
        filter: opacity(1) !important;
    }

    .kori-enabled:not(.selected):hover {
        border: 1px solid var(--orange-500) !important;
    }

    .kori__btn:active {
        filter: opacity(1) !important;
    }

    .kori__btn-text:active {
        color: var(--grey-600) !important;
    }

    .kori__btn-primary:active {
        background: var(--orange-500) !important;
    }

    .kori-edit__options button:hover {
        border: 1px solid var(--grey-700);
    }

    .kori-edit__options button:active {
        border: 1px solid var(--grey-200);
    }
}

body {
    margin: 0;
    background: $background;

    &::-webkit-scrollbar {
        display: none;
    }
}

button {
    cursor: pointer;
}

/*.ibis-translate {
    padding: 0;
    margin: 0;
}

.ibis-translating {
    visibility: visible;
    opacity: 0.3;
}*/