body {
    font-family: NimbusSansExtd;
    font-weight: 400;

    h1, h2, h3, h4, p {
        line-height: 115%;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 52px;
    }

    h3 {
        font-size: 41px;
    }

    h4 {
        font-size: 33px;
    }

    .title-1, .subtitle-1 {
        font-size: 26px;
    }

    .title-2, .subtitle-2 {
        font-size: 21px;
    }

    p.medium {
        font-size: 17px;
    }

    p.small {
        font-size: 14px;
    }
}

//fonts
@font-face {
    font-family: 'CircularStd';
    font-weight: 400;
    src: url(wwwroot/fonts/CircularStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 400;
    font-style: italic;
    src: url(wwwroot/fonts/CircularStd-BookItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 500;
    src: url(wwwroot/fonts/CircularStd-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 500;
    font-style: italic;
    src: url(wwwroot/fonts/CircularStd-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 600;
    src: url(wwwroot/fonts/CircularStd-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 600;
    font-style: italic;
    src: url(wwwroot/fonts/CircularStd-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 900;
    src: url(wwwroot/fonts/CircularStd-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStd';
    font-weight: 900;
    font-style: italic;
    src: url(wwwroot/fonts/CircularStd-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NimbusSansExtd';
    font-weight: 300;
    src: url(wwwroot/fonts/Nimbus-Sans-Extd-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'NimbusSansExtd';
    font-weight: 400;
    src: url(wwwroot/fonts/Nimbus-Sans-Extd-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NimbusSansExtd';
    font-weight: 700;
    src: url(wwwroot/fonts/Nimbus-Sans-Extd-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'NimbusSansExtd';
    font-weight: 900;
    src: url(wwwroot/fonts/Nimbus-Sans-Extd-Black.ttf) format('truetype');
}