@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Sparc.Blossom.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blossom</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <app>
        <component type="typeof(Sparc.Blossom.Server.App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    <script>
        function nextSection(id, newId) {
            if (id != null) {
                var oldItem = document.getElementById(id);
                oldItem.classList.remove("show-section");
            }
            
            if(newId != null)
            {
                var element = document.getElementById(newId);
                element.classList.add("show-section");
            }

        };
        
        function backSection(id) {
            const collection = document.getElementsByClassName("show-section");
            collection.classList.remove("show-section");
            
            var element = document.getElementById(id);
            element.classList.add("show-section");
        };
    </script>

</body>
</html>