
    <section class="blog-wrapper">
        @if (img == true)
        {
            <article class="blog-post">
                <img src="https://via.placeholder.com/150" />
                <h3>Title Here</h3>
                <p>Introduce IRepository and the built-in InMemoryDatabase so you don't have to worry about picking a database at the beginning of developing your app</p>
            </article>
        } else
        {
            <article class="blog-post no-img">
            <h3>Channel.Name</h3>
            <p>Here is text</p>
        </article>
        }
</section>
@*    @if (Channel != null)
    {

     @foreach (var post in Channel.Content)
        {
            <div class="blog-card" @onclick="@(() => GoTo(post))">
                <BlogPost Post="post" />
            </div>
        }

}*@

@code {
    [Parameter] public bool img { get; set;  }
    [Parameter] public string ChannelId { get; set; } = null!;
    [Parameter] public int Take { get; set; } = 3;
    IbisChannel? Channel;

    protected override async Task OnInitializedAsync()
    {
        Channel = await Ibis.GetAllAsync("testing-blog", asHtml: true, take: 2);
    }
    public void GoTo(IbisContent content) => Nav.NavigateTo($"/blog/{ChannelId}/{content.Tag}");
}