@page "/blogs/{ChannelId}/{Tag}"

<section class="blog-page">
    <div class="background"><img src="images/Pattern_1.png" alt="" /></div>
    <div class="container">
@*        <section class="pagnation">
            <div @onclick="@(e => GoTo(Previous))">〈  Previous</div>
            <div @onclick="@(e => GoTo(Next))">Next 〉</div>
        </section>*@
        @if(Content != null)
        {
            <BlogPost Post="Content" />   
        }
    </div>
</section>

@code {
    [Parameter] public string ChannelId { get; set; } = null!;
    [Parameter] public string Tag { get; set; } = null!;
    [Parameter] public string Previous { get; set; } = null!;
    [Parameter] public string Next { get; set; } = null!;
    IbisContent? Content;

    protected override async Task OnInitializedAsync()
    {
        Content = await Ibis.GetAsync(ChannelId, Tag);
    }
    
    public void GoTo(string url) => Nav.NavigateTo(url);
}