@import "../App.Variables.scss";

.guide {
    width: 100%;
    max-width: 1038px;
    padding: 125px 20px;
    margin: 0 auto;
    color: $white;

    &--hero {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        .header {
            margin: 0 auto;
            font-family: 'NimbusSansExtd', sans-serif;

            p {
                max-width: 705px;
                margin: 0 auto;
            }

            h1 {
                margin-bottom: 10px;
            }
        }

        .ask-questions {
            margin-top: 50px;
            margin-bottom: 183px;
            display: flex;
            justify-content: center;
            gap: 19px;

            input {
                width: 90%;
                max-width: 900px;
                height: 100px;
                box-sizing: border-box;
                padding: 0 47px;
                border: 2px solid $grey-100;
                border-radius: 100px;
                background: transparent;
                color: $grey-200;
                font-size: 33px;
            }

            button {
                width: 100px;
                height: 100px;
                padding: 0;
                margin: 0;
                background: transparent;
                border: none;

                img {
                    width: 100%;
                }
            }
        }
    }

    .category {
        margin-bottom: 102px;

        .subtitle-1 {
            font-family: 'NimbusSans', sans-serif;
            color: $grey-400;
        }

        .guide--heading {
            display: flex;
        }

        img {
            display: inline;
            vertical-align: middle;
            margin: 10px 30px 0 0;
            align-self: self-start;
        }

        h2 {
            margin: 0;
            font-family: 'NimbusSansExtd', sans-serif;
            cursor: pointer;
            display: inline;
        }
    }

    &--wrapper {
        display: flex;
        justify-content: space-between;

        img {
            width: 87px;
            align-self: self-start;
            cursor: pointer;
            margin-top: 20%;
        }
    }

    &--content {
        width: 100%;
        margin: 0 auto;
        background-color: $grey-200;
        border-radius: 20px;
        padding: 60px;
        box-sizing: border-box;
        color: $black;
        display: none;

        &.show-section {
            display: block;
        }  
        
        &#sub-section-1 {
            //display: block;
        }
    }
}
