@import "../App.Variables.scss";

@keyframes scroll_Logos {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 14));
    }
}

@keyframes scroll_Projects {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2641px);
    }
}

@keyframes scrollReverse_Projects {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2641px);
    }
}

.landing {
    margin-bottom: 64px;
    background: $background;
    color: $grey-100;
    font-family: 'NimbusSansExtd', sans-serif;
    font-weight: 400;

    &--hero {
        /*position: fixed;
        top: 50%;
        left: 50%;
         transform: translate(-50%, -50%);*/
        margin-top: 124px;
        position: relative;
        z-index: 1;

        .hero--image {
            width: 25%;
            margin: 0 auto;
            margin-bottom: 35px;
            text-align: center;

            img {
                width: 100%;
            }
        }

        .header {
            width: 809px;
            margin: 0 auto;
            text-align: center;
            font-family: 'NimbusSansExtd', sans-serif;
            font-weight: 400;

            h1 {
                margin: 0;
                margin-bottom: 15px;
                font-size: 64px;
                line-height: 95%;
            }

            p {
                margin: 0;
                font-family: 'NimbusSansExtd';
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
            }
        }
    }

    .float-wrapper {
        width: 100%;
        position: relative;

        .float-spacer {
            /*width: 100vw;
            height: 100vh;
            background: transparent;*/
        }
    }

    &--intro {
        width: 100%;
        margin-top: 270px;
        margin-bottom: 184px;
        background: $background;

        .container {
            padding: 0 15px;
        }

        .header {
            width: 1070px;
            margin: 0 auto;
            text-align: center;
            font-family: 'NimbusSansExtd', sans-serif;
            font-weight: 400;

            h3, p {
                margin: 0;
            }

            h3 {
                margin-bottom: 8px;
                font-size: 33px;
            }

            p {
                font-size: 26px;
            }
        }

        .interactive-block {
            width: 100%;
            max-width: 1054px;
            height: 500px;
            margin: 0 auto;
            margin-top: 40px;
            border: solid 1px $grey-100;
            border-radius: 50px;
            position: relative;

            img {
                width: 542px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }

            &--placeholder {
                text-align: center;
                margin-top: 37px;
                margin-bottom: 77px;

                img {
                    width: 1440px;
                    height: 485px;
                    margin: 0 auto;
                }
            }
        }
    }

    .projectlogo-carousel {
        width: 100%;
        margin: 0 auto;
        position: relative;
        background: $background;
        overflow: hidden;

        &::before, &::after {
            background: linear-gradient(to right, $background 0%, rgba(10, 10, 10, 0) 100%);
            content: "";
            height: 44px;
            position: absolute;
            width: 200px;
            z-index: 50;
        }

        &::before {
            left: 0;
            top: 0;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        .project-logos {
            width: 100%;
            display: flex;
            gap: 69px;
            animation: scroll_Logos 40s linear infinite;
        }

        img {
            width: auto;
            height: 44px;
        }
    }

    &--about {
        width: 100%;
        height: 100%;
        padding: 120px 0;
        border: none;
        border-radius: 50px;
        background: $grey-200;
        color: $grey-900;

        .container {
            padding: 0 80px;
        }

        .feature {
            width: 100%;
            height: 501px;
            margin-bottom: 120px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 144px;

            .image-wrapper {
                margin: auto 0;

                img.feature-image {
                    width: 347px;
                    height: 347px;
                }
            }

            .content-wrapper {
                width: 520px;
                margin: auto 0;
                padding: 77px 0;
                text-align: center;

                h4 {
                    text-decoration: underline;
                }
            }

            &.reverse {
                flex-direction: row-reverse;
            }
        }

        div:first-child {
            margin-top: 0;
        }

        div:nth-child(4) {
            margin-bottom: 60px;
        }

        .button-wrapper {
            width: 100%;
            height: 50px;
            text-align: center;

            .learn-more {
                padding: 8px 58px;
                border: solid 2px $grey-900;
                border-radius: 50px;
                font-family: 'NimbusSansExtd', sans-serif;
                font-size: 26px;
                background: transparent;
                color: $grey-900;
                text-decoration: none;
            }
        }
    }

    &--projects {
        width: 100%;
        margin: 0 auto;
        margin-top: 188px;
        text-align: center;
        background: $background;
        position: relative;

        .header {
            margin-bottom: 60px;

            h3, p {
                margin: 0
            }

            h3 {
                margin-bottom: 8px;
            }
        }

        .project-carousel {
            width: 100%;
            padding: 20px 0;
            position: relative;
            overflow: hidden;

            .project-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 24px;
                animation: scroll_Projects 25s linear infinite;

                &.backward {
                    animation: scrollReverse_Projects 8s linear infinite;
                }

                &.forward {
                    animation: scroll_Projects 8s linear infinite;
                }

                .github-card {
                    width: 413px;
                    height: 336px;
                    padding-bottom: 9px;
                    border: 1px solid $white;
                    border-radius: 20px;
                    cursor: pointer;
                    text-decoration: none;

                    img.project-photo {
                        width: 377px;
                        height: 257.5px;
                        margin: 18px;
                        border-radius: 15px;
                    }

                    .github-wrapper {
                        margin: 0 18px;
                        display: flex;
                        justify-content: space-between;
                        vertical-align: middle;

                        p.subtitle-1 {
                            margin: auto 0;
                            color: $white;
                        }

                        .github-logo {
                            width: 29px;
                            height: 29px;
                            margin: auto 0;
                            color: $white;
                            transition-duration: 0.4s;

                            &:hover {
                                transform: translateY(-2px);
                                transition-duration: 0.2s;
                            }
                        }
                    }
                }

                &:hover {
                    animation-play-state: paused;
                }
            }

            .arrows-container {
                backdrop-filter: blur(4px);
                border-top-right-radius: 125px;
                border-bottom-right-radius: 125px;
                width: 126px;
                height: 306px;
                /*                display: flex;
                justify-content: space-between;*/
                position: absolute;
                top: 50px;
                z-index: 10;

                img {
                    opacity: .3;
                    height: 306px;
                    border-top-right-radius: 125px;
                    border-bottom-right-radius: 125px;
                    cursor: pointer;
                }

                &.carousel-forward {
                    transform: rotate(180deg);
                    right: 0;
                }
            }
        }
    }

    &--cta {
        width: 100%;
        margin-top: 250px;
        margin-bottom: 147px;
        background: $background;

        .container {
            padding: 0 80px;
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
        }

        .header {
            max-width: 630px;

            h3 {
                font-size: 52px;
                margin: 0 0 40px 0;
            }
        }

        img {
            width: 630px;
            align-self: self-start;
        }

        a {
            padding: 16px 80px;
            border-radius: 30px;
            text-align: center;
            background: $blue-100;
            color: $black;
            font-size: 26px;
            text-decoration: none;
        }
    }

    @media only screen and (max-width: 1100px) {
        section.landing--about {
            padding-top: 80px;
        }

        &--about {
            .feature {
                margin: 60px 0;
                gap: 60px;

                .image-wrapper {
                    img.feature-image {
                        width: 310px;
                        height: 310px;
                    }
                }

                .content-wrapper {
                    padding: 30px 0;
                }
            }

            div:nth-child(4) {
                margin-bottom: 30px;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        section {
            width: 100%;
            padding: 80px 0;
        }

        &--hero {
            .hero--image {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 15px;
                text-align: center;

                img {
                    width: 80%;
                }
            }

            .header {
                width: 100%;
            }
        }

        .float-wrapper {
            width: 100%;
            position: relative;
        }

        &--intro {
            width: 100%;
            padding-bottom: 312px;
            background: $background;

            .header {
                width: 100%;
            }

            .interactive-block {
                width: 100%;
                max-width: 650px;
                height: 400px;
                margin-top: 40px;
                border-radius: 25px;

                img {
                    max-width: 400px;
                }
            }

            .projectlogo-carousel {
                margin: 0 -15px;
                margin-top: 80px;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                gap: 35px;
                overflow: hidden;

                img {
                    height: 25px;
                }
            }
        }

        section.landing--about {
            padding: 0px;
        }

        &--about {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 50px;
            background: $grey-200;
            color: $grey-900;

            .container {
                height: 100%;
                padding: 80px 20px;
            }

            .feature {
                width: 100%;
                height: 100%;
                margin: 60px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0;

                .image-wrapper {
                    margin: 0 auto;

                    img.feature-image {
                        width: 200px;
                        height: 200px;
                    }
                }

                .content-wrapper {
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                }

                &.reverse {
                    flex-direction: column;
                }
            }

            div:nth-child(4) {
                margin-bottom: 0;
            }

            .button-wrapper {
                .learn-more {
                    padding: 8px 35px;
                    font-size: 18px;
                }
            }
        }

        &--projects {
            .header {
                margin-bottom: 60px;
                padding: 0 20px;
            }

            .project-carousel {
                .project-wrapper {
                    justify-content: start;
                    gap: 15px;

                    &:first-child {
                        padding-left: 20px;
                    }


                    .github-card {
                        width: 100%;
                        height: auto;
                        padding-bottom: 9px;
                        border-radius: 15px;

                        img.project-photo {
                            width: 200px;
                            height: auto;
                            margin: 10px;
                            border-radius: 10px;
                        }

                        .github-wrapper {
                            margin: 0 10px;

                            img.github-logo {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }

                .arrows-container {
                    width: 62px;
                    height: 150px;
                    top: 40px;

                    img {
                        height: 150px;
                    }
                }
            }
        }

        section.landing--cta {
            padding: 0;
            padding-top: 60px;
        }

        &--cta {
            .container {
                padding: 0 20px;
                flex-direction: column;
                justify-content: space-between;
                gap: 0;
                flex-wrap: nowrap;
            }

            .header {
                width: 100%;

                h3 {
                    font-size: 28px;
                }
            }

            .cta-input {
                margin: auto 0;
                gap: 15px;

                input {
                    width: 100%;
                    height: 30px;
                    padding: 0 25px;
                    font-size: 16px;
                }

                button.sign-up {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    @media only screen and (max-width: 460px) {
        section {
            width: 100%;
            padding: 80px 0;
        }

        &--hero {
            .hero--image {
                width: 100%;
                margin-bottom: 15px;
                text-align: center;

                img {
                    width: 80%;
                }
            }

            .header {
                max-width: 100%;
            }
        }

        .float-wrapper {
            width: 100%;
            position: relative;
        }

        &--intro {
            width: 100%;
            padding-bottom: 312px;
            background: $background;

            .header {
                width: 100%;
                max-width: 370px;
            }

            .interactive-block {
                width: 100%;
                max-width: 370px;
                height: 200px;
                margin-top: 40px;
                border-radius: 25px;

                img {
                    max-width: 200px;
                }
            }

            .projectlogo-carousel {
                margin: 0 -15px;
                margin-top: 80px;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                gap: 35px;
                overflow: hidden;

                img {
                    height: 25px;
                }
            }
        }

        section.landing--about {
            padding: 0px;
        }

        &--about {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 50px;
            background: $grey-200;
            color: $grey-900;

            .container {
                height: 100%;
                padding: 80px 20px;
            }

            .feature {
                width: 100%;
                height: 100%;
                margin: 60px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0;

                .image-wrapper {
                    margin: 0 auto;

                    img.feature-image {
                        width: 200px;
                        height: 200px;
                    }
                }

                .content-wrapper {
                    width: 100%;
                    margin: 0 auto;
                    padding: 0;
                }

                &.reverse {
                    flex-direction: column;
                }
            }

            div:nth-child(4) {
                margin-bottom: 0;
            }

            .button-wrapper {
                .learn-more {
                    padding: 8px 35px;
                    font-size: 18px;
                }
            }
        }

        &--projects {
            .header {
                margin-bottom: 60px;
                padding: 0 20px;
            }

            .project-carousel {
                .project-wrapper {
                    justify-content: start;
                    gap: 15px;

                    &:first-child {
                        padding-left: 20px;
                    }


                    .github-card {
                        width: 100%;
                        height: auto;
                        padding-bottom: 9px;
                        border-radius: 15px;

                        img.project-photo {
                            width: 200px;
                            height: auto;
                            margin: 10px;
                            border-radius: 10px;
                        }

                        .github-wrapper {
                            margin: 0 10px;

                            img.github-logo {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    &:hover {
                        animation-play-state: paused;
                    }
                }

                .arrows-container {
                    width: 62px;
                    height: 150px;
                    top: 40px;

                    img {
                        height: 150px;
                    }
                }
            }
        }

        &--cta {
            padding: 60px 0;

            .container {
                padding: 0 20px;
                flex-direction: column;
                justify-content: space-between;
                gap: 0;
                flex-wrap: nowrap;
            }

            img {
                width: 460px;
                margin-left: -30px;
            }

            .header {
                width: 100%;

                h3 {
                    font-size: 28px;
                }
            }
        }
    }
}