@import "../Global/_variables.scss";

.home {
    background: $background;
    color: $grey-100;
    /*font-family: 'NimbusSansExtd';*/
    font-family: Helvetica;
    font-weight: 400;

    section {
        padding: 150px 0;
    }

    &--hero {
        margin: 0 auto;

        .hero--image {
            width: 1166px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        .header {
            width: 809px;
            margin: 0 auto;
            text-align: center;
        }
    }

    &--intro {
        padding-bottom: 312px;

        .header {
            width: 809px;
            margin: 0 auto;
            text-align: center;
        }

        .interactive-block {
            width: 1054px;
            height: 500px;
            margin: 0 auto;
            margin-top: 40px;
            border: solid 1px $grey-100;
            border-radius: 50px;
            position: relative;

            img {
                width: 542px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .project-carousel {
            width: 100vw;
            margin-top: 107px;
            display: flex;
            justify-content: space-between;

            img {
                height: 55px;
            }
        }
    }

    &--about {
        background: #111111;
        display: flex;
        justify-content: center;
        gap: 90px;

        .petals {
            img {
                width: 263px;
            }
        }

        .about--wrapper {
            width: 632px;
            text-align: center;

            h4 {
                text-decoration: underline;
            }

            & > div {
                margin-bottom: 40px;
                padding: 77px 55px;
            }

            div:nth-child(4) {
                margin-bottom: 0px;
                padding-bottom: 0px;
            }

            button.learn-more {
                padding: 8px 58px;
                border: solid 1px $grey-100;
                border-radius: 50px;
                /*font-family: 'NimbusSansExtd';*/
                font-family: Helvetica;
                font-weight: 400;
                font-size: 26px;
                background: transparent;
                color: $grey-100;
            }
        }
    }

    &--projects {
        margin: 0 auto;
        text-align: center;
    }

    &--cta {
        width: 1039px;
        margin: 0 auto;
        text-align: center;

        .cta-input {
            margin-top: 50px;
            display: flex;
            gap: 19px;

            input {
                width: 900px;
                height: 100px;
                padding: 0 47px;
                border: 2px solid $grey-100;
                border-radius: 100px;
                background: transparent;
                color: $white;
                font-size: 41px;
            }

            button.sign-up {
                width: 100px;
                height: 100px;
                padding: 0;
                margin: 0;
                background: transparent;
                border: none;

                img {
                    width: 100%;
                }
            }
        }
    }
}