<footer>
    <div class="footer--column">
        <p class="title-2">Project</p>
        <div class="column-links">
            <a href="">Citeblue</a>
            <a href="">Kodekit</a>
            <a href="">Conseris</a>
            <a href="">Law of 100</a>
            <a href="">Ibis</a>
        </div>
    </div>
    <div class="footer--column">
        <p class="title-2">Resources</p>
        <div class="column-links">
            <a href="">Sparc</a>
            <a href="">Kuvio</a>
        </div>
    </div>
    <div class="footer--column">
        <p class="title-2">Social</p>
        <div class="column-links">
            <a href="">Instagram</a>
            <a href="">Twitter</a>
            <a href="">GitHub</a>
        </div>
    </div>
    <div class="footer--column">
        <p class="title-2">Legal</p>
        <div class="column-links">
            <a href="">Privacy</a>
            <a href="">Terms & Conditions</a>
            <a href="">We use cookies</a>
        </div>
    </div>
</footer>