<div class="footer">
    <div>
        <h5>Project</h5>
        <ul>
            <li><a href="https://www.citeblue.com/" target="_blank">Citeblue</a></li>
            <li><a href="https://www.kodekit.io/" target="_blank">Kodekit</a></li>
            <li><a href="https://conseris.io/" target="_blank">Conseris</a></li>
            <li><a href="https://lawof100.co" target="_blank">Law of 100</a></li>
            <li><a href="https://ibis.chat" target="_blank">Ibis</a></li>
        </ul>
    </div>
</div>