<nav>
    <div class="logo">
        <a href="/"><img src="/images/Blossom Color White.png" /></a>
    </div>
    <div class="links-wrapper">
        <div class="links">
            <a href="/">Home</a>
            <a href="/Guide">Guide</a>
            <a href="/Contact">Contact</a>
        </div>
        <div class="join">
            <button class="join-community">Join Community</button>
        </div>
    </div>
</nav>