@page "/Guide"

<div class="guide">
    <section class="guide--hero">
        <div class="header">
            <h1>Blossom 101</h1>
            <p class="subtitle-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquetv odio mattis.</p>
        </div>
        <div class="ask-questions">
            <input type="text" placeholder="Ask any questions here" />
            <button class="button-ask"><img src="images/Arrow.png" /></button>
        </div>
    </section>
    <section class="guide--categories">
        <div class="category">
            <p class="subtitle-1">begin</p>
            <div class="wrapper">
                <h2>Get to know Blossom</h2>
                <h2>Install</h2>
                <h2>Tutorial</h2>
                <h2> Customization</h2>
            </div>
        </div>
        <div class="category">        
            <p class="subtitle-1">enjoy</p>
            <div class="wrapper">
                <h2>Tips and Tricks</h2>
                <h2>Tools</h2>
                <h2>Features</h2>
            </div>
        </div>
        <div class="category">
            <p class="subtitle-1">errors</p>
            <div class="wrapper">
                <h2>Troubleshooting</h2>
                <h2>Contact us</h2>
            </div>
        </div>
    </section>
</div>
<Footer />