@using Microsoft.AspNetCore.Components;

<nav>
    <div class="logo">
        <a href="/"><img src="/images/Blossom Color White.png" /></a>
    </div>
    <div class="links-wrapper">
        <div class="links">
            <a href="/blogs">Blog</a>
            @*<a href="/Guide">Guide</a>
            <a href="/Contact">Contact</a>*@
        </div>
        <div class="join">          
            <a href="https://github.com/sparc-coop/blossom" target="_blank" class="explore-blossom" tabindex="1">
                Explore Blossom
            </a>
        </div>
    </div>
</nav>