@import "../Global/_variables.scss";

footer {
    width: 100%;
    padding: 150px 0;
    background: $background;
    color: $white;
    display: flex;
    justify-content: space-around;
    gap: 20px;

    .footer--column {
        p.title-2 {
            margin-bottom: 27px;
        }

        .column-links {
            display: flex;
            flex-direction: column;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}